<p class="text-center">

    <element class="highlight">
        <element class="go">
            {{ site.data.About.intro }}
        </element>
    </element>

    <br><br>

    {{ site.data.About.university_intro }}
    <element class="highlight">
        <element class="gs">
            {{ site.data.About.university_degree }}
        </element>
    </element>
    at
    <element class="highlight">
        <element class="gs">
            <a href="{{ site.data.About.university_url }}">{{ site.data.About.university_name }}</a>
        </element>
    </element>
    .

    {{ site.data.About.outro }}

    <br><br><br>

    <img class="img-responsive img-circle myselfimg" src="{{ site.data.About.myself_img }}" >

</p>