<div class="content">

  {% if post.title != empty %}
  <h3 class="title">{{ post.title }}</h3>
  {% endif %}

  <p class="excerpt">

    {% if post.lead_text != empty %}
    {{ post.lead_text }}
    {% endif %}

    <br>

    {% if post.contribution != empty %}

    <br>

    <element class="highlight">
      <element class="gs"> 
        Team Size: 
        {% if post.team != empty %}
        {{ post.team }}
        {% endif %}
      </element>
    </element>

    <br>

    <element class="highlight">
      <element class="gs"> 
        {% if post.individual_contribution_url != nAn %}
        <a href="{{ post.contribution_url }}">Personal contribution</a>:
        {% else %}
        Personal contribution:
        {% endif %}
      </element>
    </element>

    <br>

    <ul>
    {% for snippet in post.contribution %}
      <li>
        <p>
        {{ snippet }}
        </p>
      </li>
    {% endfor %}
    </ul>

    {% endif %}

  </p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}


  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %}

</div>
